.post_display{
    display: flex;
    margin: 2rem;
    gap:1rem;
}
.tuile div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    padding:1rem
}

.tuile img {
    max-width: 100px;
}